body {
    font-family: Arial, sans-serif;
    margin: 20px;
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/register.jpg);
}

header {
    background-color: #dae6e3;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

form {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid beige;
    background-color: #d6fffa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

h2 {
    margin-top: 0;
}

label {
    display: block;
    margin-bottom: 10px;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

input[type="date"] {
    padding: 10px 10px;
}

button[type="submit"] {
    background-color: teal;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}